[Unit]
Description=Sauerbraten server mod (remodex)
After=network.target

[Service]
Type=forking
PIDFile=/run/remodex.pid
ExecStart=/usr/bin/remodex -p/run/remodex.pid -q/opt/remodex -gserver.log -d

[Install]
WantedBy=multi-user.target
